<?xml version="1.0" encoding="UTF-8"?>

<gepinstall type="plugin">
	<nom>livretScolaire</nom>
	<creationDate>02 2015</creationDate>
	<auteur>M. Bouguin</auteur>
	<licence>GNU/GPL</licence>
	<auteurCourriel> </auteurCourriel>
	<auteurSite> </auteurSite>
	<version>0.1.2</version>
	<versiongepi>1.6.6</versiongepi>
	<description>Livret Scolaire lycée</description>
	<installation>
		<requetes>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_droit` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `droit` varchar(25) NOT NULL DEFAULT '' COMMENT 'Définition du droit',
			  `ouvert` varchar(1) NOT NULL DEFAULT 'n' COMMENT 'Droit ouvert',
			  UNIQUE KEY `droit` (`droit`),
			  PRIMARY KEY (`id`) COMMENT 'liste des droits du plugin Livrer Scolaire'
			) ENGINE=MyISAM  ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_competences` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_competences` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF des compétences',
			  `texte_competences` varchar(250) NOT NULL DEFAULT '' COMMENT 'Descriptif des compétences',
			  UNIQUE KEY `code_competences` (`code_competences`),
			  PRIMARY KEY (`id`) COMMENT 'liste des competences'
			) ENGINE=MyISAM  ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_correspondances` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `MEF` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF du niveau et de la serie',
			  `Code_competences` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF des compétences',
			   `Modalite` ENUM('S', 'F', 'O') NOT NULL  COMMENT 'Matière obligatoire ou pas', 
			   `Matiere` varchar(50) NOT NULL DEFAULT '' COMMENT 'Code Matière BCN' , 
			   `Note` ENUM('y', 'n') NOT NULL  COMMENT 'note obligatoire ou pas' , 
			   `Appreciation` ENUM('y', 'n') NOT NULL  COMMENT 'appréciation obligatoire ou pas' , 
			  UNIQUE KEY `correspondance` (`MEF`,`code_competences`),
			  PRIMARY KEY (`id`)  COMMENT 'correspondances code_competences → série + niveau'
			) ENGINE=MyISAM ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_eval_app` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `annee` smallint(6) NOT NULL DEFAULT 0 COMMENT 'année',
			  `prof` varchar(50) NOT NULL DEFAULT '' COMMENT 'login du prof',
			   `eleve` VARCHAR( 50 )  NOT NULL DEFAULT '' COMMENT 'login de l\'élève',
			  `appreciation` varchar(300) NOT NULL DEFAULT '' COMMENT 'appreciation du prof',
			  `id_APB` int(11) COMMENT 'code matiere dans APB',
			  UNIQUE KEY `matiere` ( `annee` , `id_APB` , `eleve` ),
			  PRIMARY KEY (`id`) COMMENT 'appréciation annuelle des professeurs'
			) ENGINE=MyISAM  ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_classes_ouvertes` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			   `classe` smallint(5) NOT NULL COMMENT 'id de la classe dans APB',
			   `ouvert` ENUM('y', 'n')  NOT NULL  COMMENT 'ouvert ou pas à la saisie par les profs' , 
			  UNIQUE KEY `classe` ( `classe` ),
			  PRIMARY KEY (`id`) COMMENT 'classes ouvertes aux saisies par les professeurs'
			) ENGINE=MyISAM  ;
			</requete>
			
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_avis_annuels` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves',
			  `avis` ENUM ('T', 'F', 'A', 'D') DEFAULT NULL COMMENT 'avis pour le BAC',
			  `avisChefEtab` varchar(300) COMMENT 'appréciation annuelle des élèves par le chef d\'établissement',
			  `login` varchar(50) COMMENT 'Login de l\'appréciateur',
			  `date` date COMMENT 'date de  l\'appréciation',			   
			  `annee` varchar(4) NOT NULL DEFAULT '' COMMENT 'annee LSL de l\'appréciation',
			  `avisEngagement` varchar(300) COMMENT 'observation du CPE sur les engagements et responsabilités de l’élève.',
			  `loginCPE` varchar(50) NOT NULL COMMENT 'login du CPE ayant enregistré l\'avis',
			  `dateCPE` date COMMENT 'date de l\'appréciation du CPE',
			  `avisInvestissement` varchar(300) COMMENT 'avis sur l\’investissement de l\’élève et sa participation à la vie du lycée',
			  `loginPP` varchar(50) NOT NULL COMMENT 'login du PP ayant enregistré l\'avis',
			  `datePP` date COMMENT 'date de l\'appréciation du PP',
			  UNIQUE KEY `eleve` (`code_ine`, `annee`),
			  PRIMARY KEY (`id`)
			) ENGINE=MyISAM  ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_programmes` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `formation` varchar(11) COMMENT 'code SIECLE de la formation' ,
			  `matiere` varchar(6) COMMENT 'code SIECLE de la matière' ,
			  `Modalite` ENUM ('S', 'F', 'O') NOT NULL DEFAULT 'S' COMMENT 'code SIECLE de la modalité (S,F,O)' ,
			  `note` ENUM ('y', 'n') NOT NULL DEFAULT 'y' COMMENT 'Les notes sont obligatoires ou pas (y - n)' ,
			  `appreciation` ENUM ('y', 'n') NOT NULL DEFAULT 'y' COMMENT 'Les appréciations sont obligatoires ou pas (y - n)' ,
			  `option` varchar(250) COMMENT 'Commentaire sur la formation' ,
			  UNIQUE KEY `couple` (`formation`, `matiere`, `Modalite`),
			  PRIMARY KEY (`id`)
			) ENGINE=MyISAM COMMENT 'Liste des enseignements par formation';
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_formations` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `MEF` varchar(11) COMMENT 'code SIECLE de la formation' ,
			  `edition` varchar(50) COMMENT 'libelle pour l\'édition' ,
			  `libelle` varchar(50) COMMENT 'libelle long' ,
			  `MEF_rattachement` varchar(11) COMMENT 'code SIECLE de la formation de rattachement' ,			   
			  `annee` varchar(4) NOT NULL DEFAULT '' COMMENT 'annee LSL',			   
			  UNIQUE KEY `formation`  (`MEF` , `annee`),
			  PRIMARY KEY (`id`)
			) ENGINE=MyISAM COMMENT 'Liste des MEF avec les MEF de rattachement';
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_rattache` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `MEF` varchar(11) COMMENT 'code SIECLE de la formation' ,		   
			  `annee` varchar(4) NOT NULL DEFAULT '' COMMENT 'annee LSL de la formation',
			  `MEF_rattachement` varchar(11) COMMENT 'code SIECLE de la formation de rattachement',
			  UNIQUE KEY `formation`  (`MEF`,`annee`),
			  PRIMARY KEY (`id`)
			) ENGINE=MyISAM COMMENT 'jointures MEF → MEF de rattachement';
			</requete>

<!-- 1ère ST2S → code de rattachement : 21133104110 -->
			<requete>		
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21133104110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21133104110', '069400', 'S', 'y', 'y', 'SCIENCES PHYSIQUES ET CHIMIQUES'),
(NULL, '21133104110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21133104110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21133104110', '040600', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE 1ère 2013-2014'),
(NULL, '21133104110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21133104110', '307600', 'S', 'y', 'y', 'SCIENC. ET TECHNIQ. SANITAIRES ET SOCIALES'),
(NULL, '21133104110', '307700', 'S', 'y', 'y', 'BIOLOGIE ET PHYSIOPATHOLOGIE HUMAINES'),
(NULL, '21133104110', '007500', 'S', 'n', 'y', 'ACTIVITES INTER-DISCIPLINAIRES'),
(NULL, '21133104110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21133104110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21133104110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21133104110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21133104110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21133104110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21133104110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21133104110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21133104110', '104100', 'F', 'n', 'y', 'EDUC. PHYSIQUE ET SPORTIVE DE COMPLEMENT'),
(NULL, '21133104110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21133104110', '033112', 'O', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21133104110', '032412', 'O', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21133104110', '031412', 'O', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21133104110', '031212', 'O', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21133104110', '031112', 'O', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21133104110', '031012', 'O', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21133104110', '030902', 'O', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21133104110', '030602', 'O', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21133104110', '030412', 'O', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21133104110', '030402', 'O', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21133104110', '030312', 'O', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21133104110', '030202', 'O', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21133104110', '030102', 'O', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21133104110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21133104110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- Terminales ST2S → code de rattachement : 21233104110 -->	
			<requete>		
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21233104110', '010300', 'S', 'y', 'y', 'PHILOSOPHIE'),
(NULL, '21233104110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21233104110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21233104110', '069400', 'S', 'y', 'y', 'SCIENCES PHYSIQUES ET CHIMIQUES'),
(NULL, '21233104110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21233104110', '307600', 'S', 'y', 'y', 'SCIENC. ET TECHNIQ. SANITAIRES ET SOCIALES'),
(NULL, '21233104110', '307700', 'S', 'y', 'y', 'BIOLOGIE ET PHYSIOPATHOLOGIE HUMAINES'),
(NULL, '21233104110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21233104110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21233104110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21233104110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21233104110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21233104110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21233104110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21233104110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21233104110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21233104110', '033112', 'O', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21233104110', '032412', 'O', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21233104110', '031412', 'O', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21233104110', '031212', 'O', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21233104110', '031112', 'O', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21233104110', '031012', 'O', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21233104110', '030902', 'O', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21233104110', '030602', 'O', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21233104110', '030412', 'O', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21233104110', '030402', 'O', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21233104110', '030312', 'O', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21233104110', '030202', 'O', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21233104110', '030102', 'O', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21233104110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21233104110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- 1ère STD2A SC.ET TEC.DESIGN-ARTS APPLIQ → code de rattachement : 21113403110 -->	
			<requete>		
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21113403110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21113403110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21113403110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21113403110', '062300', 'S', 'y', 'y', 'PHYSIQUE-CHIMIE'),
(NULL, '21113403110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21113403110', '279700', 'S', 'y', 'y', 'DESIGN ET ARTS APPLIQUES'),
(NULL, '21113403110', '501000', 'S', 'y', 'y', 'DESIGN ET ARTS APPLIQUES EN LV1'),
(NULL, '21113403110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21113403110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21113403110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21113403110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21113403110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21113403110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21113403110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21113403110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21113403110', '104100', 'F', 'n', 'y', 'EDUC. PHYSIQUE ET SPORTIVE DE COMPLEMENT'),
(NULL, '21113403110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21113403110', '033112', 'F', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21113403110', '032412', 'F', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21113403110', '031412', 'F', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21113403110', '031212', 'F', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21113403110', '031112', 'F', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21113403110', '031012', 'F', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21113403110', '030902', 'F', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21113403110', '030602', 'F', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21113403110', '030412', 'F', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21113403110', '030402', 'F', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21113403110', '030312', 'F', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21113403110', '030202', 'F', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21113403110', '030102', 'F', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21113403110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21113403110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- 1ère STI2D ARCHITECTURE ET CONSTRUCTION → code de rattachement : 21120003110 -->	
			<requete>		
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21120003110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21120003110', '062300', 'S', 'y', 'y', 'PHYSIQUE-CHIMIE'),
(NULL, '21120003110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21120003110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21120003110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120003110', '073700', 'S', 'n', 'n', 'ENSEIGNEMTS TECHNOLOGIQUES TRANSVERSAUX'),
(NULL, '21120003110', '501100', 'S', 'n', 'n', 'ENSEIGNEMENT TECHNOLOGIQUE EN LV1'),
(NULL, '21120003110', '175200', 'S', 'n', 'n', 'ARCHITECTURE ET CONSTRUCTION'),
(NULL, '21120003110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120003110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21120003110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21120003110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21120003110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21120003110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21120003110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21120003110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21120003110', '104100', 'F', 'n', 'y', 'EDUC. PHYSIQUE ET SPORTIVE DE COMPLEMENT'),
(NULL, '21120003110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21120003110', '033112', 'F', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21120003110', '032412', 'F', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21120003110', '031412', 'F', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21120003110', '031212', 'F', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21120003110', '031112', 'F', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21120003110', '031012', 'F', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21120003110', '030902', 'F', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21120003110', '030602', 'F', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21120003110', '030412', 'F', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21120003110', '030402', 'F', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21120003110', '030312', 'F', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21120003110', '030202', 'F', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21120003110', '030102', 'F', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21120003110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21120003110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- 1ère STI2D ENERGIES ET ENVIRONNEMENT → code de rattachement : 21120004110 -->	
			<requete>		
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21120004110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21120004110', '062300', 'S', 'y', 'y', 'PHYSIQUE-CHIMIE'),
(NULL, '21120004110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21120004110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21120004110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120004110', '073700', 'S', 'n', 'n', 'ENSEIGNEMTS TECHNOLOGIQUES TRANSVERSAUX'),
(NULL, '21120004110', '501100', 'S', 'n', 'n', 'ENSEIGNEMENT TECHNOLOGIQUE EN LV1'),
(NULL, '21120004110', '181700', 'S', 'n', 'n', 'ENERGIES ET ENVIRONNEMENT'),
(NULL, '21120004110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120004110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21120004110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21120004110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21120004110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21120004110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21120004110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21120004110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21120004110', '104100', 'F', 'n', 'y', 'EDUC. PHYSIQUE ET SPORTIVE DE COMPLEMENT'),
(NULL, '21120004110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21120004110', '033112', 'F', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21120004110', '032412', 'F', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21120004110', '031412', 'F', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21120004110', '031212', 'F', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21120004110', '031112', 'F', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21120004110', '031012', 'F', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21120004110', '030902', 'F', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21120004110', '030602', 'F', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21120004110', '030412', 'F', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21120004110', '030402', 'F', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21120004110', '030312', 'F', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21120004110', '030202', 'F', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21120004110', '030102', 'F', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21120004110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21120004110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- 1ère STI2D INNOVATION TECHNOLOGIQUE ET ECO-CONCEPT. → code de rattachement : 21120005110 -->	
			<requete>		
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21120005110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21120005110', '062300', 'S', 'y', 'y', 'PHYSIQUE-CHIMIE'),
(NULL, '21120005110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21120005110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21120005110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120005110', '073700', 'S', 'n', 'n', 'ENSEIGNEMTS TECHNOLOGIQUES TRANSVERSAUX'),
(NULL, '21120005110', '501100', 'S', 'n', 'n', 'ENSEIGNEMENT TECHNOLOGIQUE EN LV1'),
(NULL, '21120005110', '073600', 'S', 'n', 'n', 'INNOVATION TECHNOLOGIQUE ET ECO-CONCEPT.'),
(NULL, '21120005110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120005110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21120005110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21120005110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21120005110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21120005110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21120005110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21120005110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21120005110', '104100', 'F', 'n', 'y', 'EDUC. PHYSIQUE ET SPORTIVE DE COMPLEMENT'),
(NULL, '21120005110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21120005110', '033112', 'F', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21120005110', '032412', 'F', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21120005110', '031412', 'F', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21120005110', '031212', 'F', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21120005110', '031112', 'F', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21120005110', '031012', 'F', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21120005110', '030902', 'F', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21120005110', '030602', 'F', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21120005110', '030412', 'F', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21120005110', '030402', 'F', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21120005110', '030312', 'F', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21120005110', '030202', 'F', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21120005110', '030102', 'F', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21120005110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21120005110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- 1ère STI2D SYSTEMES D'INFORMATION ET NUMERIQUE → code de rattachement : 21120006110 -->	
			<requete>		
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21120006110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21120006110', '062300', 'S', 'y', 'y', 'PHYSIQUE-CHIMIE'),
(NULL, '21120006110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21120006110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21120006110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120006110', '073700', 'S', 'n', 'n', 'ENSEIGNEMTS TECHNOLOGIQUES TRANSVERSAUX'),
(NULL, '21120006110', '501100', 'S', 'n', 'n', 'ENSEIGNEMENT TECHNOLOGIQUE EN LV1'),
(NULL, '21120006110', '242000', 'S', 'n', 'n', 'SYSTEMES D''INFORMATION ET NUMERIQUE'),
(NULL, '21120006110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120006110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21120006110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21120006110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21120006110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21120006110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21120006110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21120006110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21120006110', '104100', 'F', 'n', 'y', 'EDUC. PHYSIQUE ET SPORTIVE DE COMPLEMENT'),
(NULL, '21120006110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21120006110', '033112', 'F', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21120006110', '032412', 'F', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21120006110', '031412', 'F', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21120006110', '031212', 'F', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21120006110', '031112', 'F', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21120006110', '031012', 'F', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21120006110', '030902', 'F', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21120006110', '030602', 'F', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21120006110', '030412', 'F', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21120006110', '030402', 'F', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21120006110', '030312', 'F', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21120006110', '030202', 'F', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21120006110', '030102', 'F', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21120006110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21120006110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- 1ère STL BIOTECHNOLOGIES → code de rattachement : 21120007110 -->	
			<requete>			
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21120007110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21120007110', '062300', 'S', 'y', 'y', 'PHYSIQUE-CHIMIE'),
(NULL, '21120007110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21120007110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21120007110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120007110', '308600', 'S', 'y', 'y', 'CHIMIE, BIOCHIMIE, SCIENCES DU VIVANT'),
(NULL, '21120007110', '308700', 'S', 'y', 'y', 'MESURE ET INSTRUMENTATION'),
(NULL, '21120007110', '501100', 'S', 'y', 'y', 'ENSEIGNEMENT TECHNOLOGIQUE EN LV1'),
(NULL, '21120007110', '313100', 'S', 'y', 'y', 'BIOTECHNOLOGIES'),
(NULL, '21120007110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120007110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21120007110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21120007110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21120007110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21120007110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21120007110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21120007110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21120007110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21120007110', '033112', 'F', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21120007110', '032412', 'F', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21120007110', '031412', 'F', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21120007110', '031212', 'F', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21120007110', '031112', 'F', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21120007110', '031012', 'F', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21120007110', '030902', 'F', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21120007110', '030602', 'F', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21120007110', '030412', 'F', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21120007110', '030402', 'F', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21120007110', '030312', 'F', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21120007110', '030202', 'F', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21120007110', '030102', 'F', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21120007110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21120007110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- 1ère STL - TECHNO DE LABORATOIRE → code de rattachement : 21120008110 -->	
			<requete>			
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21120008110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21120008110', '062300', 'S', 'y', 'y', 'PHYSIQUE-CHIMIE'),
(NULL, '21120008110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21120008110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21120008110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120008110', '308600', 'S', 'y', 'y', 'CHIMIE, BIOCHIMIE, SCIENCES DU VIVANT'),
(NULL, '21120008110', '308700', 'S', 'y', 'y', 'MESURE ET INSTRUMENTATION'),
(NULL, '21120008110', '501100', 'S', 'y', 'y', 'ENSEIGNEMENT TECHNOLOGIQUE EN LV1'),
(NULL, '21120008110', '069700', 'S', 'y', 'y', 'SCIENCES PHYSIQUES ET CHIMIQUES EN LABO.'),
(NULL, '21120008110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21120008110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21120008110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21120008110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21120008110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21120008110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21120008110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21120008110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21120008110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21120008110', '033112', 'F', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21120008110', '032412', 'F', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21120008110', '031412', 'F', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21120008110', '031212', 'F', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21120008110', '031112', 'F', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21120008110', '031012', 'F', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21120008110', '030902', 'F', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21120008110', '030602', 'F', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21120008110', '030412', 'F', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21120008110', '030402', 'F', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21120008110', '030312', 'F', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21120008110', '030202', 'F', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21120008110', '030102', 'F', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21120008110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21120008110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- 1ère STMG SC. ET TECHNO. MANAGEMENT GESTION → code de rattachement : 21131016110 -->	
			<requete>			
INSERT INTO `plugin_lsl_programmes` (`id`, `formation`, `matiere`, `Modalite`, `note`, `appreciation`, `option`) VALUES
(NULL, '21131016110', '061300', 'S', 'y', 'y', 'MATHEMATIQUES'),
(NULL, '21131016110', '020700', 'S', 'y', 'y', 'FRANCAIS'),
(NULL, '21131016110', '043700', 'S', 'y', 'y', 'HISTOIRE-GEOGRAPHIE'),
(NULL, '21131016110', '100100', 'S', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21131016110', '435400', 'S', 'y', 'y', 'SCIENCES DE GESTION'),
(NULL, '21131016110', '381000', 'S', 'y', 'y', 'ECONOMIE ET DROIT'),
(NULL, '21131016110', '434300', 'S', 'y', 'y', 'MANAGEMENT DES ORGANISATIONS'),
(NULL, '21131016110', '100100', 'F', 'y', 'y', 'EDUCATION PHYSIQUE ET SPORTIVE'),
(NULL, '21131016110', '090100', 'F', 'y', 'y', 'ARTS PLASTIQUES'),
(NULL, '21131016110', '285200', 'F', 'y', 'y', 'CINEMA-AUDIOVISUEL'),
(NULL, '21131016110', '082500', 'F', 'y', 'y', 'DANSE'),
(NULL, '21131016110', '275700', 'F', 'y', 'y', 'HISTOIRE DES ARTS'),
(NULL, '21131016110', '083200', 'F', 'y', 'y', 'MUSIQUE'),
(NULL, '21131016110', '278500', 'F', 'y', 'y', 'THEATRE'),
(NULL, '21131016110', '278000', 'F', 'n', 'y', 'ATELIER ARTISTIQUE'),
(NULL, '21131016110', '030201', 'O', 'y', 'y', 'ANGLAIS LV1'),
(NULL, '21131016110', '033112', 'O', 'y', 'y', 'TURC LV2  CORRESP.'),
(NULL, '21131016110', '032412', 'O', 'y', 'y', 'ISLANDAIS LV2  CORRESP.'),
(NULL, '21131016110', '031413', 'O', 'y', 'y', 'RUSSE LV3  CORRESP.'),
(NULL, '21131016110', '031412', 'O', 'y', 'y', 'RUSSE LV2  CORRESP.'),
(NULL, '21131016110', '031403', 'O', 'y', 'y', 'RUSSE LV3'),
(NULL, '21131016110', '031212', 'O', 'y', 'y', 'NEERLANDAIS LV2  CORRESP.'),
(NULL, '21131016110', '031112', 'O', 'y', 'y', 'PORTUGAIS LV2  CORRESP.'),
(NULL, '21131016110', '031012', 'O', 'y', 'y', 'JAPONAIS LV2  CORRESP.'),
(NULL, '21131016110', '030902', 'O', 'y', 'y', 'ITALIEN LV2'),
(NULL, '21131016110', '030602', 'O', 'y', 'y', 'ESPAGNOL LV2'),
(NULL, '21131016110', '030412', 'O', 'y', 'y', 'CHINOIS LV2  CORRESP.'),
(NULL, '21131016110', '030402', 'O', 'y', 'y', 'CHINOIS LV2'),
(NULL, '21131016110', '030312', 'O', 'y', 'y', 'ARABE LV2  CORRESP.'),
(NULL, '21131016110', '030202', 'O', 'y', 'y', 'ANGLAIS LV2'),
(NULL, '21131016110', '030102', 'O', 'y', 'y', 'ALLEMAND LV2'),
(NULL, '21131016110', '008400', 'S', 'n', 'n', 'VIE DE CLASSE'),
(NULL, '21131016110', '006600', 'S', 'n', 'n', 'ACCOMPAGNEMENT PERSONNALISE');
			</requete>

<!-- Liste des rattachements -->	
			<requete>
INSERT INTO `plugin_lsl_formations` (`id`, `MEF`, `edition`, `libelle`, `MEF_rattachement`, `annee`) VALUES
(NULL, '21133104110', '1-st2s sc. et techno. sante ET social', '1-ST2S SC. ET TECHNO. SANTE ET SOCIAL', '21133104110', '2014'),
(NULL, '21133104112', '1st2se sc. et techno. sante ET social européen', '1ST2S SC. ET TECHNO. SANTE ET SOCIAL EURO', '21133104110', '2014'),
(NULL, '21233104110', 'T-st2s sc. et techno. sante ET social', 'T-ST2S SC. ET TECHNO. SANTE ET SOCIAL', '21233104110', '2014'),
(NULL, '21113403110', '1-std2a', '1STD2A SC.ET TEC.DESIGN-ARTS APPLIQ', '21113403110', '2014'),
(NULL, '21120003110', '1-sti2d AC', '1-STI2D ARCHITECTURE ET CONSTRUCTION', '21120003110', '2014'),
(NULL, '21120004110', '1-sti2d EE', '1-STI2D ENERGIES ET ENVIRONNEMENT', '21120004110', '2014'),
(NULL, '21120005110', '1-sti2d ITEC', '1-STI2D INNOVATION TECHNOLOGIQUE ET ECO-CONCEPT.', '21120005110', '2014'),
(NULL, '21120006110', '1-sti2d SIN', '1-STI2D SYSTEMES D\'INFORMATION ET NUMERIQUE', '21120006110', '2014'),
(NULL, '21120007110', '1- stl biotechnologies', '1-STL BIOTECHNOLOGIES', '21120007110', '2014'),
(NULL, '21120007112', '1- stl biotechnologies europeen', '1-STL BIOTECHNOLOGIES EUROPEEN', '21120007110', '2014'),
(NULL, '21120008110', '1- stl techno de laboratoire', '1ERE STL - TECHNO DE LABORATOIRE', '21120008110', '2014'),
(NULL, '21131016110', '1-stmg sc. et techno. management gestion', '1-STMG SC. ET TECHNO. MANAGEMENT GESTION', '21131016110', '2014'),
(NULL, '21131016112', '1-stmg sc. et techno. management gestion européen', '1-STMG SC. ET TECHNO. MANAG. GEST. EURO', '21131016110', '2014');
			</requete>
			
		    <!--
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_series` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_mef` varchar(50) NOT NULL DEFAULT '' COMMENT 'code MEF des séries concernées',
			  UNIQUE KEY `code_mef` (`code_mef`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_engagements` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves ayant des engagement',
			  `code_engagement` ENUM ('C', 'V', 'A', 'E', 'S'),
			  UNIQUE KEY `engagement` (`code_ine` , `code_engagement`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_engage_autre` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves ayant des engagements',
			  `engagement` varchar(300) NOT NULL DEFAULT '' COMMENT 'description de l\'engagement',
			  UNIQUE KEY `eleve` (`code_ine`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_examen` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves',
			  `avis` ENUM ('T', 'F', 'A', 'D') COMMENT 'avis pour le BAC',
			  UNIQUE KEY `eleve` (`code_ine`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_investissement` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves',
			  `annee` varchar(4) NOT NULL DEFAULT '' COMMENT 'année de l\'avis',
			  `date` date NOT NULL COMMENT 'date de l\'avis',
			  `nom` varchar(50) NOT NULL DEFAULT '' COMMENT 'nom de la personne qui rédige l\'avis',
			  `prenom` varchar(50) NOT NULL DEFAULT '' COMMENT 'prénom de la personne qui rédige l\'avis',
			  `avis` varchar(50) NOT NULL DEFAULT '' COMMENT 'avis sur l\'investissement',
			  UNIQUE KEY `eleve` (`code_ine`,`annee`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			 -->
		</requetes>
	</installation>
	<desinstallation>
		<requetes>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_droit`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_competences`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_correspondances`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_eval_app`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_classes_ouvertes`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_avis_annuels`;
			</requete> 
			 <requete>
			   DROP TABLE IF EXISTS `plugin_lsl_programmes`;
			</requete>
			 <requete>
			    DROP TABLE IF EXISTS `plugin_lsl_formations`;
			</requete> 
			 <requete>
			    DROP TABLE IF EXISTS `plugin_lsl_rattache`;
			</requete> 
		    <!--
			<requete>
			   DROP TABLE `plugin_lsl_series`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_engagements`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_engage_autre`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_examen`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_investissement`;
			</requete>
			 -->
		</requetes>
	</desinstallation>
		
	<administration>
			<fichier>
				<!-- <nomfichier autorisation="A-P-C-S">index.php</nomfichier> -->
				<nomfichier autorisation="A-P-S">index.php</nomfichier>
				<nomfichier autorisation="A">telecharge.php</nomfichier>
			</fichier>
		<menu>
			<item autorisation="A-P-C-S" titre="Livret scolaire" description="Livret scolaire dématérialisé de lycée">index.php</item>
		</menu>
	</administration>
</gepinstall>
