<?xml version="1.0" encoding="UTF-8"?>

<gepinstall type="plugin">
	<nom>livretScolaire</nom>
	<creationDate>02 2015</creationDate>
	<auteur>M. Bouguin</auteur>
	<licence>GNU/GPL</licence>
	<auteurCourriel> </auteurCourriel>
	<auteurSite> </auteurSite>
	<version>0.2.5</version>
	<versiongepi>1.6.8</versiongepi>
	<description>Livret Scolaire lycée</description>
	<installation>
		<requetes>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_droit` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `droit` varchar(25) NOT NULL DEFAULT '' COMMENT 'Définition du droit',
			  `ouvert` varchar(1) NOT NULL DEFAULT 'n' COMMENT 'Droit ouvert',
			  UNIQUE KEY `droit` (`droit`),
			  PRIMARY KEY (`id`) COMMENT 'liste des droits du plugin Livrer Scolaire'
			) ENGINE=MyISAM  ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_competences` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_competences` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF des compétences',
			  `texte_competences` varchar(250) NOT NULL DEFAULT '' COMMENT 'Descriptif des compétences',
			  UNIQUE KEY `code_competences` (`code_competences`),
			  PRIMARY KEY (`id`) COMMENT 'liste des competences'
			) ENGINE=MyISAM  ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_correspondances` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `MEF` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF du niveau et de la serie',
			  `Code_competences` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF des compétences',
			   `Modalite` ENUM('S', 'F', 'O') NOT NULL  COMMENT 'Matière obligatoire ou pas', 
			   `Matiere` varchar(50) NOT NULL DEFAULT '' COMMENT 'Code Matière BCN' , 
			   `Note` ENUM('y', 'n') NOT NULL  COMMENT 'note obligatoire ou pas' , 
			   `Appreciation` ENUM('y', 'n') NOT NULL  COMMENT 'appréciation obligatoire ou pas' , 
			  UNIQUE KEY `correspondance` (`MEF`,`code_competences`),
			  PRIMARY KEY (`id`)  COMMENT 'correspondances code_competences → série + niveau'
			) ENGINE=MyISAM ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_eval_app` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `annee` smallint(6) NOT NULL DEFAULT 0 COMMENT 'année',
			  `prof` varchar(50) NOT NULL DEFAULT '' COMMENT 'login du prof',
			   `eleve` VARCHAR( 50 )  NOT NULL DEFAULT '' COMMENT 'login de l\'élève',
			  `appreciation` varchar(300) NOT NULL DEFAULT '' COMMENT 'appreciation du prof',
			  `id_APB` int(11) COMMENT 'code matiere dans APB',
			  UNIQUE KEY `matiere` ( `annee` , `id_APB` , `eleve` ),
			  PRIMARY KEY (`id`) COMMENT 'appréciation annuelle des professeurs'
			) ENGINE=MyISAM  ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_classes_ouvertes` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			   `classe` smallint(5) NOT NULL COMMENT 'id de la classe dans APB',
			   `ouvert` ENUM('y', 'n')  NOT NULL  COMMENT 'ouvert ou pas à la saisie par les profs' , 
			  UNIQUE KEY `classe` ( `classe` ),
			  PRIMARY KEY (`id`) COMMENT 'classes ouvertes aux saisies par les professeurs'
			) ENGINE=MyISAM  ;
			</requete>
			
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_avis_annuels` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves',
			  `avis` ENUM ('T', 'F', 'A', 'D') DEFAULT NULL COMMENT 'avis pour le BAC',
			  `avisChefEtab` varchar(300) COMMENT 'appréciation annuelle des élèves par le chef d\'établissement',
			  `login` varchar(50) COMMENT 'Login de l\'appréciateur',
			  `date` date COMMENT 'date de  l\'appréciation',			   
			  `annee` varchar(4) NOT NULL DEFAULT '' COMMENT 'annee LSL de l\'appréciation',
			  `avisEngagement` varchar(300) COMMENT 'observation du CPE sur les engagements et responsabilités de l’élève.',
			  `loginCPE` varchar(50) NOT NULL COMMENT 'login du CPE ayant enregistré l\'avis',
			  `dateCPE` date COMMENT 'date de l\'appréciation du CPE',
			  `avisInvestissement` varchar(300) COMMENT 'avis sur l\’investissement de l\’élève et sa participation à la vie du lycée',
			  `loginPP` varchar(50) NOT NULL COMMENT 'login du PP ayant enregistré l\'avis',
			  `datePP` date COMMENT 'date de l\'appréciation du PP',
			  UNIQUE KEY `eleve` (`code_ine`, `annee`),
			  PRIMARY KEY (`id`)
			) ENGINE=MyISAM  ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_programmes` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `formation` varchar(11) COMMENT 'code SIECLE de la formation' ,
			  `matiere` varchar(6) COMMENT 'code SIECLE de la matière' ,
			  `Modalite` ENUM ('S', 'F', 'O') NOT NULL DEFAULT 'S' COMMENT 'code SIECLE de la modalité (S,F,O)' ,
			  `note` ENUM ('y', 'n') NOT NULL DEFAULT 'y' COMMENT 'Les notes sont obligatoires ou pas (y - n)' ,
			  `appreciation` ENUM ('y', 'n') NOT NULL DEFAULT 'y' COMMENT 'Les appréciations sont obligatoires ou pas (y - n)' ,
			  `option` varchar(250) COMMENT 'Commentaire sur la formation' ,
                            `annee` varchar(4) COMMENT 'Annee sur la formation' ,
			  UNIQUE KEY `couple` (`formation`, `annee`, `matiere`, `Modalite`),
			  PRIMARY KEY (`id`)
			) ENGINE=MyISAM COMMENT 'Liste des enseignements par formation';
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_formations` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `MEF` varchar(11) COMMENT 'code SIECLE de la formation' ,
			  `edition` varchar(50) COMMENT 'libelle pour l\'édition' ,
			  `libelle` varchar(250) COMMENT 'libelle long' ,
			  `MEF_rattachement` varchar(11) COMMENT 'code SIECLE de la formation de rattachement' ,			   
			  `annee` varchar(4) NOT NULL DEFAULT '' COMMENT 'annee LSL',			   
			  UNIQUE KEY `formation`  (`MEF` , `annee`),
			  PRIMARY KEY (`id`)
			) ENGINE=MyISAM COMMENT 'Liste des MEF avec les MEF de rattachement';
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_rattache` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `MEF` varchar(11) COMMENT 'code SIECLE de la formation' ,		   
			  `annee` varchar(4) NOT NULL DEFAULT '' COMMENT 'annee LSL de la formation',
			  `MEF_rattachement` varchar(11) COMMENT 'code SIECLE de la formation de rattachement',
			  UNIQUE KEY `formation`  (`MEF`,`annee`),
			  PRIMARY KEY (`id`)
			) ENGINE=MyISAM COMMENT 'jointures MEF → MEF de rattachement';
			</requete>
		</requetes>
	</installation>
	<desinstallation>
		<requetes>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_droit`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_competences`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_correspondances`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_eval_app`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_classes_ouvertes`;
			</requete>
			<requete>
			   DROP TABLE IF EXISTS `plugin_lsl_avis_annuels`;
			</requete> 
			 <requete>
			   DROP TABLE IF EXISTS `plugin_lsl_programmes`;
			</requete>
			 <requete>
			    DROP TABLE IF EXISTS `plugin_lsl_formations`;
			</requete> 
			 <requete>
			    DROP TABLE IF EXISTS `plugin_lsl_rattache`;
			</requete> 
		</requetes>
	</desinstallation>
		
	<administration>
			<fichier>
				<!-- <nomfichier autorisation="A-P-C-S">index.php</nomfichier> -->
				<nomfichier autorisation="A-P-S">index.php</nomfichier>
				<nomfichier autorisation="A">telecharge.php</nomfichier>
			</fichier>
		<menu>
			<item autorisation="A-P-C-S" titre="Livret scolaire" description="Livret scolaire dématérialisé de lycée">index.php</item>
		</menu>
	</administration>
</gepinstall>
