<?xml version="1.0" encoding="UTF-8"?>

<gepinstall type="plugin">
	<nom>livretScolaire</nom>
	<creationDate>02 2015</creationDate>
	<auteur>M. Bouguin</auteur>
	<licence>GNU/GPL</licence>
	<auteurCourriel> </auteurCourriel>
	<auteurSite> </auteurSite>
	<version>1.0.0</version>
	<versiongepi>1.6.6</versiongepi>
	<description>Livret scolaire lycée</description>
	<installation>
		<requetes>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_droit` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `droit` varchar(25) NOT NULL DEFAULT '' COMMENT 'Définition du droit',
			  `ouvert` varchar(1) NOT NULL DEFAULT 'n' COMMENT 'Droit ouvert',
			  UNIQUE KEY `droit` (`droit`),
			  PRIMARY KEY (`id`) COMMENT 'liste des droits du plugin Livrer Scolaire'
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_competences` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_competences` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF des compétences',
			  `texte_competences` varchar(250) NOT NULL DEFAULT '' COMMENT 'Descriptif des compétences',
			  UNIQUE KEY `code_competences` (`code_competences`),
			  PRIMARY KEY (`id`) COMMENT 'liste des competences'
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_correspondances` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `MEF` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF du niveau et de la serie',
			  `Code_competences` varchar(10) NOT NULL DEFAULT '' COMMENT 'code MEF des compétences',
			   `Modalite` ENUM('S', 'F', 'O') NOT NULL  COMMENT 'Matière obligatoire ou pas', 
			   `Matiere` varchar(50) NOT NULL DEFAULT '' COMMENT 'Code Matière BCN' , 
			   `Note` ENUM('y', 'n') NOT NULL  COMMENT 'note obligatoire ou pas' , 
			   `Appreciation` ENUM('y', 'n') NOT NULL  COMMENT 'appréciation obligatoire ou pas' , 
			  UNIQUE KEY `correspondance` (`MEF`,`code_competences`),
			  PRIMARY KEY (`id`)  COMMENT 'correspondances code_competences → série + niveau'
			) ENGINE=MyISAM ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_eval_app` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `annee` smallint(6) NOT NULL DEFAULT 0 COMMENT 'année',
			  `prof` varchar(50) NOT NULL DEFAULT '' COMMENT 'login du prof',
			   `eleve` VARCHAR( 50 )  NOT NULL DEFAULT '' COMMENT 'login de l\'élève',
			  `appreciation` varchar(300) NOT NULL DEFAULT '' COMMENT 'appreciation du prof',
			  `id_APB` int(11) COMMENT 'code matiere dans APB',
			  UNIQUE KEY `matiere` ( `annee` , `id_APB` , `eleve` ),
			  PRIMARY KEY (`id`) COMMENT 'appréciation annuelle des professeurs'
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_classes_ouvertes` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			   `classe` smallint(5) NOT NULL COMMENT 'id de la classe dans APB',
			   `ouvert` ENUM('y', 'n')  NOT NULL  COMMENT 'ouvert ou pas à la saisie par les profs' , 
			  UNIQUE KEY `classe` ( `classe` ),
			  PRIMARY KEY (`id`) COMMENT 'classes ouvertes aux saisies par les professeurs'
			) ;
			</requete>
		    <!--
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_series` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_mef` varchar(50) NOT NULL DEFAULT '' COMMENT 'code MEF des séries concernées',
			  UNIQUE KEY `code_mef` (`code_mef`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_engagements` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves ayant des engagement',
			  `code_engagement` ENUM ('C', 'V', 'A', 'E', 'S'),
			  UNIQUE KEY `engagement` (`code_ine` , `code_engagement`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_engage_autre` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves ayant des engagements',
			  `engagement` varchar(300) NOT NULL DEFAULT '' COMMENT 'description de l\'engagement',
			  UNIQUE KEY `eleve` (`code_ine`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_examen` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves',
			  `avis` ENUM ('T', 'F', 'A', 'D') COMMENT 'avis pour le BAC',
			  UNIQUE KEY `eleve` (`code_ine`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			<requete>
			   CREATE TABLE IF NOT EXISTS `plugin_lsl_investissement` (
			  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id unique',
			  `code_ine` varchar(50) NOT NULL DEFAULT '' COMMENT 'code INE des élèves',
			  `annee` varchar(4) NOT NULL DEFAULT '' COMMENT 'année de l\'avis',
			  `date` date NOT NULL COMMENT 'date de l\'avis',
			  `nom` varchar(50) NOT NULL DEFAULT '' COMMENT 'nom de la personne qui rédige l\'avis',
			  `prenom` varchar(50) NOT NULL DEFAULT '' COMMENT 'prénom de la personne qui rédige l\'avis',
			  `avis` varchar(50) NOT NULL DEFAULT '' COMMENT 'avis sur l\'investissement',
			  UNIQUE KEY `eleve` (`code_ine`,`annee`),
			  PRIMARY KEY (`id`)
			) ;
			</requete>
			 -->
		</requetes>
	</installation>
	<desinstallation>
		<requetes>
			<requete>
			   DROP TABLE `plugin_lsl_droit`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_competences`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_correspondances`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_eval_app`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_classes_ouvertes`;
			</requete>
		    <!--
			<requete>
			   DROP TABLE `plugin_lsl_series`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_engagements`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_engage_autre`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_examen`;
			</requete>
			<requete>
			   DROP TABLE `plugin_lsl_investissement`;
			</requete>
			 -->
		</requetes>
	</desinstallation>
		
	<administration>
			<fichier>
				<nomfichier autorisation="A-P-C-S">index.php</nomfichier>
				<nomfichier autorisation="A">telecharge.php</nomfichier>
			</fichier>
		<menu>
			<item autorisation="A-P-C-S" titre="Livret scolaire" description="Livret scolaire dématérialisé de lycée">index.php</item>
		</menu>
	</administration>
</gepinstall>
